@charset "UTF-8";

.section{
  padding: 200px 0;
}

.price{
  display: inline-block;
  width: 100%;
}

.price_all h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #39b93f;
}

.price_inner{
  text-align: center;
}

.price_inner table{
  border: solid 2px #39b93f;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.price_inner table tr th{
  width: 20%;
  border: solid 2px #316835;
  padding: 20px;
  background: #6ce768;
}

.price_inner table tr td{
  border: solid 2px #316835;
  padding: 20px;
  background: #d3fa96;
}

.contact{
  position: relative;
  width: 100%;
}

.contact_inner{
  background: #eee;
}

.contact h3{
  font-size: 50px;
  color: #39b93f;
  text-align: center;
}

.contact h3 small{
  font-size: 20px;
  color: #555;
}

.contact p{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.contact .btn a {
  background: #39b93f;
  padding: 20px 60px;
  position: relative;
  top: 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
}

.contact .btn a:hover {
  background: #59dd3e;
}

footer{
  display: inline-block;
  position: relative;
  width: 100%;
}

.footer_inner{
  display: inline-block;
  position: relative;
  margin-left: 200px;
  z-index: 1;
  top: 150px;
}

.footer_inner img{
  width: 200px;
}

.footer_inner p{
  width: 150px;
  font-size: 10px;
}

.footer_bg{
  width: 100%;
  float: right;
  height: 200px;
  background-color: #eee;
  position: relative;
  z-index: 0;
}

.footer_list ul{
  float: right;
  z-index: 1;
}

.footer_list ul::after{
  content: "";
  position: absolute;
  height: 200px;
  border-left: 1px solid #ccc;
  color: #555;
  top: 0;
}

.footer_list ul li{
  width: 200px;
  padding: 20px 0 0 40px;
  font-weight: bold;
  font-size: 12px;
}

.copyright{
  float: right;
  font-size: 5px;
  font-weight: bold;
  padding: 10px;
}