$Translucent:rgba(255, 255, 255, 0.8);
$Green:#39b93f;
$cBlack:#333;
$Gray_Light: #ccc;
$Green_top:#53f561;
$Gray:#888;
$White:#fff;
$Yellow_Light:rgb(255, 251, 213);
$Yellow_bg:rgb(255, 234, 165);
$Gray_555:#555;
$Green_hover:#59dd3e;
$Gray_White:#eee;